In [122]:
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import numpy as np

%matplotlib notebook

Warning: Cannot change to a different GUI toolkit: notebook. Using qt5 instead.

In [123]:
data = pd.read_csv("istherecorrelation.csv", delimiter=";", decimal=",")

In [124]:
data

    Year  WO [x1000]  NL Beer consumption [x1000 hectoliter]
0   2006       205.9                                   11402
1   2007       208.6                                   11492
2   2008       212.7                                   11450
3   2009       220.5                                   11502
4   2010       233.2                                   11474
5   2011       242.4                                   11480
6   2012       245.4                                   11452
7   2013       241.4                                   11484
8   2014       250.2                                   11555
9   2015       255.7                                   11601
10  2016       261.2                                   11731
11  2017       267.9                                   11862
12  2018       280.1                                   12048

In [138]:
X = data.iloc[:,0]   #Years
Y = data.iloc[:,1]   #WO
Z = data.iloc[:,2]   #NL Beer Consumption

In [158]:
fig, ax = plt.subplots()
fig.set_dpi(300)
ax.plot(X, Y, label='line1', color='red', marker='o')
ax.set_xlabel("Year")
ax.set_ylabel("WO [x1000]", color='red')

In [159]:
ax2 = ax.twinx()
ax2.plot(X, Z, color='blue', marker='o')
ax2.set_ylabel("NL Beer Consumption [x1000 hectoL]", color='blue')

plt.show()

In [160]:
# fig = plt.figure()
# ax = fig.add_subplot(111, projection='3d', azim=-90, elev=10)

# ax.plot(X, Y, Z)

# #ax.plot(xs=data.iloc[:,0], ys=data.iloc[:,1], zs=data.iloc[:,2], zdir='z')